html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: auto;
}

/* navigation */

nav {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  top: 1rem;
  z-index: 5;
}

nav img {

  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.company-name {
  margin-right: auto;
}

.menu {
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*banner */

.banner {
  background-image: url("../images/glasses-bg.png");
  height: 31rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 3rem;
}

.banner-text {
  background-color: white;
  color: black;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  margin-left: 2rem;
  position: relative;
  left: 2rem;
}

.banner .container {
  display: flex;
  align-items: center;
  height: 31rem;
  justify-content: flex-end;
}

/* company deliverables icons */

.logo-container {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3rem;

}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;

}

.img-container {
  height: 5rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logo img {
  max-width: 100%;
  max-height: 5rem;
  display: block;
}

.logo-container span {
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
}


/* information section */

.info-container {
  display: flex;
}

#info-block {
  width: 10rem;
}

.info-block span {
  background-color: cadetblue;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.info-block p {
  width: 35%;
}
